version: 2.1
jobs:
  test:
    working_directory: ~/circleci-python
    docker:
      - image: "circleci/python:3.6.4"
    steps:
      - checkout
      - run: python3 src/test_pathfinder.py
workflows:
  version: 2
  workflow:
    jobs:
      - test
    